## Indexing, Selecting & Assigning

### Introduction

Selecting specific values of a pandas DataFrame or Series to work on is an implicit step in almost any data operation you'll run, so one of the first things you need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.

### Native accessors
Native Python objects provide good ways of indexing data. Pandas carries all of these over, which helps make it easy to start with.

Consider this csv file: `https://raw.githubusercontent.com/ahm90-dev/pandas_activity/refs/heads/main/csv/annual-enterprise-survey-2023-financial-year-provisional.csv`

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/ahm90-dev/pandas_activity/refs/heads/main/csv/annual-enterprise-survey-2023-financial-year-provisional.csv"
data = pd.read_csv(url)

data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In Python, we can access the property of an object by accessing it as an attribute. 

Hence to access the country property of `data` we can use:

In [5]:
# DataFrame.<column_name>

data.Year

0        2023
1        2023
2        2023
3        2023
4        2023
         ...
50980    2013
50981    2013
50982    2013
50983    2013
50984    2013
Name: Year, Length: 50985, dtype: int64

we can access its values using the indexing ([]) operator. We can do the same with columns in a DataFrame:

In [7]:
# DataFrame['column_name']

data['Year']

0        2023
1        2023
2        2023
3        2023
4        2023
         ...
50980    2013
50981    2013
50982    2013
50983    2013
50984    2013
Name: Year, Length: 50985, dtype: int64

**Note:** These are two ways of selecting `Series` out of the `DataFrame`. but the indexing operator [ ] does have the advantage that it can handle column names

Doesn't a pandas Series look kind of like a fancy dictionary? It pretty much is, so it's no surprise that, to drill down to a single specific value, we need only use the indexing operator [ ] once more:

In [10]:
print(data['Year'][0]) # 2023
print(data['Year'][50984]) # 2013

2023
2013

### Indexing in pandas

The indexing operator and attribute selection are nice because they work just like they do in the rest of the Python ecosystem.  However, pandas has its own accessor operators, `loc` and `iloc`. For more advanced operations, these are the ones you're supposed to be using.

#### Index-based selection
Pandas indexing works in one of two paradigms. The first is **index-based selection**: selecting data based on its numerical position in the data. iloc follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:

In [13]:
data.iloc[0]

Year                                                                        2023
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H01
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                     930995
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 0, dtype: object

Both `loc` and `iloc` are **row-first, column-second**.
This is the opposite of what we do in native python, which is **column-first, row-second.**

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns.
To get a column with `iloc`, we can do the following:

In [15]:
data.iloc[:,0]

0        2023
1        2023
2        2023
3        2023
4        2023
         ...
50980    2013
50981    2013
50982    2013
50983    2013
50984    2013
Name: Year, Length: 50985, dtype: int64

":" operator, which means "everything".
It can be used to indicate a range of values.

For example to select the `Year` column just the first, second, and third row, we would do:

In [17]:
data.iloc[:3, 0]

0    2023
1    2023
2    2023
Name: Year, dtype: int64

Or, to select just the second and third entries, we would do:

In [19]:
data.iloc[1:3, 0]

1    2023
2    2023
Name: Year, dtype: int64

It's also possible to pass a list:

In [21]:
data.iloc[[0, 1, 3, -1],0]

0        2023
1        2023
3        2023
50984    2013
Name: Year, dtype: int64

This will start counting forward from the `end` of the values.

In [23]:
data.iloc[-5:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

#### Label-based selection
The second paradigm for attribute selection is the one followed by the loc operator: **label-based selection**. In this paradigm, it's the data index value, not its position, which matters.

For example, to get the first entry in `data`, we would now do the following:

In [25]:
data.loc[0, 'Year']

2023

`iloc` is conceptually simpler then `loc`.
Because it ignores the datasets indicies.
When we use `iloc` we treat the dataset like a big matrix (a list of lists), one that we have to index into by position.

`loc` is uses the information in the indicies to do its work.
Since your dataset usually has meaningful indicies, its usually easier to do things using `loc` instead.

In [27]:
data.loc[:, ['Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC' , 'Industry_name_NZSIOC']]

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC
0,Level 1,99999,All industries
1,Level 1,99999,All industries
2,Level 1,99999,All industries
3,Level 1,99999,All industries
4,Level 1,99999,All industries
...,...,...,...
50980,Level 3,ZZ11,Food product manufacturing
50981,Level 3,ZZ11,Food product manufacturing
50982,Level 3,ZZ11,Food product manufacturing
50983,Level 3,ZZ11,Food product manufacturing
50984,Level 3,ZZ11,Food product manufacturing

### Choosing between `loc`  & `iloc`

`iloc`, uses the python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will entries 0...9

`loc`, indexes inclusively. So 0:10 will entries 0...10

## Manipulating the index
Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. We can manipulate the index in any way we see fit. 

The `set_index()` method can be used to do the job. Here is what happens when `set_index` to the  `Variable_code`

In [46]:
data.set_index('Variable_code')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2023,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,2023,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,2023,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
H37,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

## Conditional selection
This allows you to filter a DataFrame based on certain  conditions.

In [54]:
data.Year ==  2023 # The Data in the year column was not a string but an integer

0         True
1         True
2         True
3         True
4         True
         ...
50980    False
50981    False
50982    False
50983    False
50984    False
Name: Year, Length: 50985, dtype: bool

This operation produced as `Series` of *True / False* boolens based on the `Year` of each record.
This result can then be used inside to `loc` to select the relevant data:

In [64]:
data.loc[data.Year == 2023]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
4630,2023,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,89,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4631,2023,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,38,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4632,2023,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,17,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4633,2023,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4634,2023,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,48,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

The DataFrame has 635 rows. The origial was ~50K.
We wanted to know which `Value` has value of  `C`
We can use the ampersan (&) to bring the two questions together:

In [99]:
data.loc[(data.Year == 2023) & (data.Value == 'C')]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
747,2023,Level 3,CC32,"Pulp, Paper and Converted Paper Product Manufa...",Dollars (millions),H02,Sales of goods not further processed,Financial performance,C,ANZSIC06 groups C151 and C152
751,2023,Level 3,CC32,"Pulp, Paper and Converted Paper Product Manufa...",Dollars (millions),H07,Non-operating income,Financial performance,C,ANZSIC06 groups C151 and C152
771,2023,Level 3,CC32,"Pulp, Paper and Converted Paper Product Manufa...",Dollars (millions),H31,Shareholders funds or owners equity,Financial position,C,ANZSIC06 groups C151 and C152
772,2023,Level 3,CC32,"Pulp, Paper and Converted Paper Product Manufa...",Dollars (millions),H32,Current liabilities,Financial position,C,ANZSIC06 groups C151 and C152
776,2023,Level 3,CC32,"Pulp, Paper and Converted Paper Product Manufa...",Percentage,H36,Current ratio,Financial ratios,C,ANZSIC06 groups C151 and C152
...,...,...,...,...,...,...,...,...,...,...
4466,2023,Level 4,RS113,Gambling Activities,Percentage,H36,Current ratio,Financial ratios,C,ANZSIC06 group R920
4467,2023,Level 4,RS113,Gambling Activities,Percentage,H37,Quick ratio,Financial ratios,C,ANZSIC06 group R920
4602,2023,Level 3,ZZ11,Food Product Manufacturing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4603,2023,Level 3,ZZ11,Food Product Manufacturing,Dollars (millions),H06,"Government funding, grants and subsidies",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4610,2023,Level 3,ZZ11,Food Product Manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

#### Pandas comes with a few build-in conditional selectors.
1. `isin` is lets you select data whose value "is in" a list of values.

In [103]:
data.loc[data.Year.isin([2023,2022])]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
9265,2022,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,82,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9266,2022,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,30,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9267,2022,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9268,2022,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9269,2022,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,45,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

2. `isnull (and its comparison not null). These method let you highlight value which are (or are not) empty (NaN)

In [111]:
data.loc[data.Variable_code.notnull()]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### Assigning data
You can assign either a contact value:

In [117]:
data['Year'] = 2023
data['Year']

0        2023
1        2023
2        2023
3        2023
4        2023
         ...
50980    2023
50981    2023
50982    2023
50983    2023
50984    2023
Name: Year, Length: 50985, dtype: int64

Or with an iterable of values:

In [124]:
data['Year',] = range(len(data), 0, -1)
print(data['Year'])

0        50985
1        50984
2        50983
3        50982
4        50981
         ...
50980        5
50981        4
50982        3
50983        2
50984        1
Name: Year, Length: 50985, dtype: int64